<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_live_location_tracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:label="flutter_live_location_tracker"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAP_API_KEY"/>

    </application>

</manifest>
